[Unit]
Description=Hardware Hash daemon

[Service]
Type=simple
ExecStart=/bin/bash -c "cd /encryptStorageTrustTool ; bash /encryptStorageTrustTool/lukstrusteddecrypthandler.sh"

[Install]
WantedBy=multi-user.target
